.DS_Store
*.DS_Store
*/*.DS_Store
/*.md
!README.md
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

report.md
/_todo

# Sample binaries
samples/*/[0-9]*
# Dependency directories (remove the comment below to include it)
# vendor/
